body {
    background-color: #000;
}

#top-menu-nav .nav-wrapper,
.signup-info {
    display: none;
}

.nav-menu .primary a {
    border: none;
}

.menu-close {
    float: right;
    padding: 10px 15px;
}

.menu-close a {
    color: #fff;
    font-size: 28px;
}

.registration-wrapper {
    margin: 50px auto 0;
    width: 270px;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}

.registration-wrapper .hero {
    margin-top: 65px;
    margin-bottom: 10px;
    text-align: center;
}

.registration-wrapper .logo img {
    margin: 0 auto 15px;
    height: 90px;
}

.registration-wrapper .hero h4 {
    color: #fff;
    font-size: 19px;
    line-height: 26px;
}

.btn-container .btn {
    display: inline-block;
    border: 1px solid #000;
    color: #000;
    font-weight: 400;
    box-sizing: border-box;
    line-height: 27px;
    font-size: 14px;
    text-align: center;
    border-radius: 25px;
    width: 100%;
    position: relative;
    color: #999;
}

.btn-container .btn i {
    position: absolute;
    left: 15px;
    top: 15px;
}

.btn-container .btn.white {
    color: #fff;
    border-color: #fff;
    font-weight: 700;
    font-size: 17px;
    margin-bottom: 16px;
    padding: 10px 15px;
}

.btn-container .btn.fill {
    background-color: #fff;
    color: #000;
}

@media only screen and (min-width: 768px) {
    body {
        background-color: #fff;
    }
    #top-menu-nav .nav-wrapper {
        display: block;
    }
    .menu-close {
        display: none;
    }
    .registration-wrapper {
        width: 600px;
    }
    .registration-wrapper .hero {
        display: none;
    }
    .registration-wrapper .signup-info {
        margin: 150px auto 30px;
        display: block;
    }
    .signup-info h2 {
        font-size: 40px;
        margin-bottom: 10px;
        font-weight: bold;
    }
    .signup-info p {
        margin-bottom: 20px;
        line-height: 25px;
        font-size: 16px;
        color: dimgrey;
    }
    .btn-container {
        padding: 0 25px;
    }
    .btn-container a span {
        display: none;
    }
    .btn-container .btn {
        border: none;
        font-size: 25px;
        color: dimgrey;
    }
    .btn-container .btn:hover {
        color: black
    }
    .btn-container .btn i {
        position: absolute;
        left: 0;
        top: 0;
        width: 75px;
        box-sizing: border-box;
        padding: 18px 0 22px 0;
        border-radius: 5px;
    }
    .btn-container .btn#btn-facebook i {
        background-color: #354f88;
    }
    .btn-container .btn#btn-google-plus i {
        background-color: #c54523;
    }
    .btn-container .btn#btn-email i {
        background-color: grey;
    }
    .btn-container a.btn.white {
        display: block;
        font-size: 35px;
        font-weight: 700;
        line-height: 30px;
        height: 75px;
        text-align: center;
        border-radius: 5px;
        padding: 20px;
    }
    .social-signup a.btn.white {
        background-color: #2d72d9;
        color: #fff;
        width: 270px;
        padding: 22px 15px 15px 60px;
        float: left;
    }
    .btn-container a.btn.white#btn-email {
        background-color: #999;
    }
    .social-signup a.btn#btn-facebook {
        background-color: #3b5998;
        margin-right: 10px;
        padding-left: 80px;
    }
    .social-signup a.btn.fill#btn-google-plus {
        background-color: #dc4d28;
    }
    .btn-container a.btn.white#btn-email:hover {
        background-color: grey;
    }
    .social-signup a.btn#btn-facebook:hover {
        background-color: #354f88;
    }
    .social-signup a.btn.fill#btn-google-plus:hover {
        background-color: #c54523;
    }
}