/*
* @section Header Menu
*/

header.top-menu-nav {
    z-index: 1000;
    background-color: #000;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    top: 0px;
    height: 50px;
}

#fixed-menu {
    position: fixed;
}

header.top-menu-nav .nav-wrapper {
    position: relative;
    height: 50px;
}

header.top-menu-nav .nav-wrapper:after,
header.top-menu-nav .nav-wrapper:before {
    content: " ";
    display: table;
}

header.top-menu-nav .nav-wrapper:after {
    clear: both;
}

.nav-menu ul:after,
.nav-menu ul:before {
    content: " ";
    display: table;
}

.nav-menu {
    display: inline-block;
}

header.top-menu-nav a.logo {
    display: block;
    padding-left: 10px;
    height: 50px;
    box-sizing: border-box;
}

.nav-menu .primary a.selected,
.nav-menu .primary a:hover,
.active {
    background-color: hsla(0, 0%, 100%, .2);
}

header.top-menu-nav a.logo img {
    padding: 10px 0px;
    height: 30px;
    width: auto;
}

.nav-menu>ul:first-child li:first-child {
    display: inline-block;
}

.menu-box {
    float: right;
    padding: 10px 15px;
}

.menu-box a {
    color: #fff;
    font-size: 15px;
}

.nav-menu>ul li,
.side-menu {
    display: none;
}

@media only screen and (min-width: 768px) {
    header.top-menu-nav {
        min-width: 740px;
    }
    .nav-menu {
        margin-right: 200px;
        display: block;
    }
    .nav-menu ul {
        list-style-type: none;
    }
    .nav-menu .primary a {
        border-right: 1px solid #333;
    }
    .nav-menu .primary {
        float: left;
        margin-right: 10px;
    }
    .nav-menu>ul li {
        display: block;
        float: left;
    }
    .nav-menu ul:after {
        clear: both;
    }
    .nav-menu .secondary {
        display: none;
    }
    .side-menu {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }
    .menu-box {
        display: none;
    }
}

.nav-menu .primary a {
    text-align: center;
    color: #fff;
    font-weight: 700;
}

.nav-menu>ul li a {
    display: block;
    color: #aaa;
    position: relative;
    line-height: 50px;
    font-size: 17px;
    padding: 0 15px;
    text-align: center;
    box-sizing: border-box;
}

.nav-menu>ul li a:hover,
.search a:hover,
.visitor-menu a:hover,
.user-menu a:hover {
    color: #fff;
}

.fa-chevron-down {
    margin-left: 10px;
    font-size: 12px;
}


/*
* @subsection Dropdown Menu
*/

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.show {
    display: block;
}


/*
* @subsection Search Menu
*/

.search {
    float: left;
    padding: 9px 0;
}

.search a {
    display: block;
    padding: 5px;
    font-size: 20px;
    color: #aaa;
}


/*
* @subsection User/Visitor Menu
*/

.user-menu,
.visitor-menu {
    float: left;
    padding: 9px 10px;
}

.visitor-menu {
    float: right;
}

.user-menu .btn-rare,
.visitor-menu .btn-rare {
    display: inline-block;
    color: #bbb;
    line-height: 30px;
    height: 30px;
    padding: 0 12px;
    font-size: 17px;
}

.visitor-menu i {
    padding-right: 10px;
    font-size: 15px;
}

.user-menu .btn-focus,
.visitor-menu .btn-focus {
    color: #fff;
    display: inline-block;
    line-height: 30px;
    height: 30px;
    padding: 0 16px;
    border-radius: 2px;
    font-size: 17px;
    font-weight: 700;
    margin-left: 10px;
    background-color: darkred;
}

.visitor-menu .btn-focus:hover {
    background-color: firebrick;
}

@media only screen and (min-width: 1200px) {
    .nav-menu .secondary {
        display: block;
    }
}

#mobile-menu,
#registration {
    z-index: 1001;
    display: none;
    background-color: black;
}


/*
* @section Mobile Menu
*/

#mobile-menu {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100vh;
    overflow: scroll;
}

a#btn-close {
    color: #fff;
    font-size: 28px;
}

@media only screen and (min-width: 768px) {
    #mobile-menu {
        display: none;
    }
}


/*
* @section Mobile Navigation Links
*/

#mobile-links {
    text-align: center;
}

#mobile-links .sign-up {
    padding: 30px 0;
    background-image: url("../images/mobileMenuBackground.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 111px;
    box-sizing: border-box;
}

#mobile-links a {
    color: #999;
    font-size: 35px;
}

#mobile-links .primary a {
    color: white;
    font-size: 35px;
}

#mobile-links .primary li {
    padding: 10px;
}

#mobile-links li {
    padding: 5px;
}

#mobile-links .sign-up a {
    font-size: 50px;
}

#mobile-links .sign-up a i {
    margin-right: 20px;
}

.nav-menu-mobile ul {
    padding: 10px;
}

.line-divider {
    border-top: 1px dashed #999;
    margin: 0 10px;
    border-collapse: collapse;
}


/*
* @section Mobile Sign Up
*/

.signup-info {
    display: none;
}


/*
* @section Sign Up
*/

.registration-wrapper {
    margin: auto;
    width: 270px;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}

.registration-wrapper .hero {
    margin: 10px 0;
    text-align: center;
}

.registration-wrapper .logo img {
    margin: 0 auto 15px;
    height: 90px;
}

.registration-wrapper .hero h4 {
    color: #fff;
    font-size: 19px;
    line-height: 26px;
}

.btn-container .btn {
    display: inline-block;
    border: 1px solid #000;
    color: #000;
    font-weight: 400;
    box-sizing: border-box;
    line-height: 27px;
    font-size: 14px;
    text-align: center;
    border-radius: 25px;
    width: 100%;
    position: relative;
    color: #999;
}

.btn-container .btn i {
    position: absolute;
    left: 15px;
    top: 15px;
}

.btn-container .btn.white {
    color: #fff;
    border-color: #fff;
    font-weight: 700;
    font-size: 17px;
    margin-bottom: 16px;
    padding: 10px 15px;
}

.btn-container .btn.fill {
    background-color: #fff;
    color: #000;
}

@media only screen and (min-width: 768px) {
    body {
        background-color: #fff;
    }
    #top-menu-nav .nav-wrapper {
        display: block;
    }
    .menu-close {
        display: none;
    }
    .registration-wrapper {
        width: 600px;
    }
    .registration-wrapper .hero {
        display: none;
    }
    .registration-wrapper .signup-info {
        margin: 75px auto 30px;
        display: block;
    }
    .signup-info h2 {
        font-size: 40px;
        margin-bottom: 10px;
        font-weight: bold;
    }
    .signup-info p {
        margin-bottom: 20px;
        line-height: 25px;
        font-size: 16px;
        color: dimgrey;
    }
    .btn-container {
        padding: 0 25px;
    }
    .btn-container a span {
        display: none;
    }
    .btn-container .btn {
        border: none;
        font-size: 25px;
        color: dimgrey;
    }
    .btn-container .btn:hover {
        color: black
    }
    .btn-container .btn i {
        position: absolute;
        left: 0;
        top: 0;
        width: 75px;
        box-sizing: border-box;
        padding: 18px 0 22px 0;
        border-radius: 5px;
    }
    .btn-container .btn#btn-facebook i {
        background-color: #354f88;
    }
    .btn-container .btn#btn-google-plus i {
        background-color: #c54523;
    }
    .btn-container .btn#btn-email i {
        background-color: grey;
    }
    .btn-container a.btn.white {
        display: block;
        font-size: 35px;
        font-weight: 700;
        line-height: 30px;
        height: 75px;
        text-align: center;
        border-radius: 5px;
        padding: 20px;
    }
    .social-signup a.btn.white {
        background-color: #2d72d9;
        color: #fff;
        width: 270px;
        padding: 22px 15px 15px 60px;
        float: left;
    }
    .btn-container a.btn.white#btn-email {
        background-color: #999;
    }
    .social-signup a.btn#btn-facebook {
        background-color: #3b5998;
        margin-right: 10px;
        padding-left: 80px;
    }
    .social-signup a.btn.fill#btn-google-plus {
        background-color: #dc4d28;
    }
    .btn-container a.btn.white#btn-email:hover {
        background-color: grey;
    }
    .social-signup a.btn#btn-facebook:hover {
        background-color: #354f88;
    }
    .social-signup a.btn.fill#btn-google-plus:hover {
        background-color: #c54523;
    }
}


/*
* @section Posts page
*/


/*
* @subsection Main posts
*/

#posts-container {
    margin-top: 50px;
}

section#posts-list article {
    border-top: 1px solid #eee;
    border-bottom: 16px solid #f5f5f5;
}

@media only screen and (min-width: 768px) {
    section#posts-list article:first-child {
        border: 0;
        padding: 0;
    }
}


/*
* @subsection Post Title
*/

article.post {
    font-family: Arial, Helvetica, sans-serif;
}

article.post header {
    padding: 16px;
}

article.post h2 {
    font-size: 1.3em;
    line-height: 1.3em;
    font-weight: 700;
}

article.post header a {
    color: #000;
}

article.post header a:hover {
    color: #09f;
}


/*
* @subsection Post Media Content
*/

article .media-container {
    position: relative;
    background-color: #f5f5f5;
    margin-bottom: 12px;
}

article .media-container a {
    display: block;
    overflow: hidden;
}

article .media-container a img {
    display: block;
    width: 100%;
    border: none;
}

#sidebar {
    display: none;
}


/*
* @subsection Post Statistics
*/

article .post-statistics p {
    color: #999;
    margin: 10px 0;
}

article .post-statistics p a {
    color: #999;
}

article .post-statistics p a:hover {
    text-decoration: underline;
    color: black;
}


/*
* @subsection Post Actions
*/

article .post-actions:after,
article .post-actions:before {
    display: table;
    content: "";
}

article .post-actions:after {
    clear: both;
}

.post-actions .vote,
.post-actions .vote .btn-vote {
    float: left;
    overflow: hidden;
}

.post-actions .more {
    display: none;
}

.post-actions .vote .btn-vote li {
    display: block;
    float: left;
    text-align: center;
}

.post-actions .vote .btn-vote li a,
.post-actions .more a {
    display: inline-block;
    color: #000;
    text-decoration: none;
    font-weight: 700;
    font-size: 25px;
    box-sizing: border-box;
    line-height: 30px;
    cursor: pointer;
}

.post-actions .vote .btn-vote li a:hover,
.post-actions .more:hover {
    border-color: #999;
    color: black;
}

.post-actions .vote .btn-vote li a.clicked {
    border-color: dodgerblue;
    color: dodgerblue;
}

.post-actions .share {
    float: right
}

.post-actions .share ul {
    overflow: hidden;
    list-style-type: none;
}

.post-actions .share ul li {
    float: left;
    margin: 0 0 0 10px;
}

.post-actions .share .btn-share {
    display: block;
    color: #fff;
    font-weight: 700;
    height: 40px;
    line-height: 40px;
    padding: 0 15px 0 15px;
    border-radius: 2px;
    text-align: center;
    position: relative;
    font-size: 17px;
}

.post-actions .share .btn-share i {
    margin-top: 5px;
    padding: 5px 5px 0 0;
    font-size: 20px;
}

.post-actions .share .btn-share.facebook {
    background-color: #3b5998;
}

.post-actions .share .btn-share.facebook:hover {
    background-color: #4c70ba;
}

.post-actions .share .btn-share.twitter {
    background: #00aced;
}

.post-actions .share .btn-share.twitter:hover {
    background-color: #21c2ff;
}

@media only screen and (max-width: 768px) {
    article .post-statistics {
        margin: 0 16px;
        border-bottom: 1px solid #eee;
    }
    .post-actions,
    .post-actions .vote .btn-vote {
        width: 100%;
    }
    .post-actions .vote {
        width: 75%;
    }
    .post-actions .vote .btn-vote li {
        width: 33.3%;
    }
    .post-actions .more {
        width: 25%;
        display: block;
        float: left;
        overflow: hidden;
        text-align: center;
    }
    .post-actions .vote .btn-vote li a,
    .post-actions .more a {
        padding: 10px 15px;
    }
    .post-actions .share {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    section#posts-list article {
        margin-bottom: 30px;
        padding: 20px 0 0;
        border-bottom: none;
    }
    .page {
        width: 500px;
        margin: 0 auto 40px;
    }
    article.post {
        width: 500px;
    }
    article.post header {
        padding: 16px 0;
    }
    article.post header a {
        font-size: 25px;
    }
    article.post h2 {
        word-wrap: break-word;
    }
    article .media-container {
        width: 500px;
    }
    article .media-container a img {
        width: 500px;
        border: 0;
    }
    article .post-actions {
        width: 500px;
        margin: 10px 0;
        padding-bottom: 0;
        position: relative;
    }
    .post-actions .vote .btn-vote li {
        margin: 0 10px 0 0;
    }
    .post-actions .vote .btn-vote li a {
        box-sizing: border-box;
        border: 1px solid #ddd;
        border-radius: 2px;
        display: block;
        position: relative;
        padding: 4px 12px;
        color: #999;
    }
}

@media only screen and (min-width: 1024px) {
    .page {
        width: 940px;
    }
    .main-posts {
        float: left;
        width: 600px;
    }
}


/*
* @subsection Sidebar
*/

@media only screen and (min-width: 1024px) {
    #sidebar {
        display: block;
        float: right;
        padding: 0 0 0 40px;
        width: 300px;
        position: relative;
    }
}

#sidebar .sidebar-content {
    margin-top: 20px;
}

#sidebar .sidebar-content li {
    margin-bottom: 16px;
}

#sidebar .sidebar-content .img-container {
    display: block;
    overflow: hidden;
    width: 300px;
    height: 105px;
    margin-bottom: 4px;
    background-color: #f4f4f4;
    border-radius: 10px;
}

#sidebar .sidebar-content .img-container a {
    display: block;
}

#sidebar .sidebar-content .img-container img {
    display: block;
    border: 0;
    width: 100%;
    margin-top: -40px;
}

#sidebar .sidebar-content .info-container h3 {
    font-size: 15px;
    word-wrap: break-word;
}

#sidebar .sidebar-content .info-container a {
    display: block;
    font-weight: bold;
    color: #000;
}

#sidebar .sidebar-content li:hover .info-container a {
    color: #09f;
}